{% extends 'base.html' %}

{% block content %}

<h1>Add a song to {{ playlist.name }}</h1>

{% if form.song.choices|length == 0 %}

<h3 class="text-danger">All available songs are already on this playlist.</h3>

{% else %}

<form id="add-to-playlist-form" class="form-inline" method="POST">
{{ form.csrf_token() }}
{{ form.hidden_tag() }}

{% for field in form if field.widget.input_type != 'hidden'%}

  {{ field.label }}
  {{ field(class="form-control mb-2 mr-sm-2") }}

  <span>
      {% if field.errors %}
        {% for error in field.errors %}
	        <b class="text-danger">{{ error }}</b>
        {% endfor %}
      {% endif %}
    </span>
{% endfor %}

  <button class="btn btn-primary" type="submit">Add</button>
</form>

{% endif %}

{% endblock %}