{% extends 'base.html' %}

{% block content %}

<form id="playlist-form" class="form-inline" method="POST">
{{ form.csrf_token() }}
{{ form.hidden_tag() }}

{% for field in form if field.widget.input_type != 'hidden'%}

  {{ field.label }}
  {{ field(class="form-control mb-2 mr-sm-2") }}

  <span>
      {% if field.errors %}
        {% for error in field.errors %}
	        <b class="text-danger">{{ error }}</b>
        {% endfor %}
      {% endif %}
    </span>
{% endfor %}

  <button class="btn btn-primary" type="submit">Add</button>
</form>

{% endblock %}