body {
    background-color: #1C7E15;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-group {
    display: flex;
    justify-content: center;
    width: 25%;
}

.btn-group button {
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #FFFFFF;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-weight:300;
    color: #000000;
    text-align:center;
    transition: all 0.2s;
}

.btn-group button:hover{
    box-shadow: 0 0 5px rgb(87, 215, 250);
    border: 1px solid rgba(87, 215, 250, 1);
}

#stack {
    position: relative;
    margin-top: 10%;
}

.card {
    position: absolute;
}